.page {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.focusButton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  margin-top: 50px;
}

.github {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--foreground);

  &:hover {
    color: var(--shade-6);
  }

  &:active {
    top: 11.2px;
  }
}

.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}
