.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.webStore {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  color: var(--foreground);
  padding: 5px;
}

.webStore:active {
  position: absolute;
  top: inherit;
  bottom: 8.8px;
}
