:root {
  --overlay: rgba(0, 0, 0, 0.1);
  --foreground: #000;
  --background: #fff;

  --accent-0: #dd2f2f;
  --accent-1: #ff9d00;
  --accent-2: #97f646;
  --accent-3: #79c638;
  --accent-4: #58aa11;
  --accent-5: #4697f6;
  --accent-6: #197ef4;
  --accent-7: #f832e7;
  --accent-8: #863dcf;

  --shade-1: #fafafa;
  --shade-2: #eaeaea;
  --shade-3: #999;
  --shade-4: #888;
  --shade-5: #666;
  --shade-6: #444;
  --shade-7: #333;
  --shade-8: #111;

  --selection: var(--accent-2);
  --link-color: var(--accent-6);

  --secondary-light: var(--shade-3);
  --secondary: var(--shade-5);
  --secondary-dark: var(--shade-7);

  /* --shadow: 0 5px 10px rgba(0, 0, 0, 0.12); */

  --shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
  --portal-opacity: 0.25;
  --border-transition: border-color 0.4s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html[style*="color-scheme: dark"],
html.dark {
  --overlay: rgba(255, 255, 255, 0.1);
  --foreground: #fff;
  --background: #000;

  --shade-8: #fafafa;
  --shade-7: #eaeaea;
  --shade-6: #999;
  --shade-5: #888;
  --shade-4: #666;
  --shade-3: #444;
  --shade-2: #333;
  --shade-1: #111;
  --selection: var(--accent-7);
}

:root {
  --breakpoint-mobile: 600px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 960px;
  --radius: 20px;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-mono: Menlo, "Roboto Mono", Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

html,
body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  line-height: 1.5;
  overflow: auto;
}

a,
.link {
  position: relative;
  text-decoration: none;
  color: var(--accent-6);
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

a:hover,
.link:hover,
a:disabled,
.link:disabled {
  text-decoration: none;
  color: var(--accent-5);
  background-color: transparent;
}

a:active,
.link:active {
  top: 1.2px;
}

pre,
code {
  font-family: var(--font-mono);
}

.button,
button {
  padding: 0.5rem 1rem;
  background-color: var(--link-color);
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  position: relative;
  line-height: 1.15;
  font-size: 1rem;
}

button:focus-visible,
.button:focus-visible {
  outline: 1px solid var(--accent-4) !important;
  border-radius: 20px !important;
}

.button:hover,
button:hover {
  background-color: var(--accent-5);
  color: #fff;
}
.button:disabled,
button:disabled {
  /* opacity: 0.7; */
  cursor: default;
  background-color: var(--accent-5);
}
.button:active,
button:active {
  top: 1.2px;
}

.button.link,
button.link {
  text-align: left;
}

input[type="text"],
input[type="search"],
textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--shade-2);
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
  transition: var(--border-transition);
}

input[type="text"]:hover,
input[type="search"]:hover,
textarea:hover {
  border: 1px solid var(--shade-3);
}

textarea:focus,
textarea:active,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="text"]:active {
  border-color: var(--link-color);
  outline: var(--link-color);
}
